@import './_variables';
html, body, #root, #root > div {
  height: 100%
}

body {
  background-color: $white;
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}
